:root {
  --darkColor: #0a1930;
  --brightColor: #f46663;
}

.jumbotron {
  background-color: var(--darkColor);
  color: white;
  font-size: 32px;
  line-height: 1.2em;
  letter-spacing: -0.02em;
  font-weight: 600;
}
